
  <!DOCTYPE html>
  <html ng-app="thoughtsApp">
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Thoughts - signup</title>

      <!-- ANGULAR -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    </head>

    <body ng-controller="ThoughtsController">

        <div ng-include="'menu.htm'"></div>

        <div class="container">
            <div class="row">
                <div class="input-field col s12">
                  <input ng-model="username" id="username" type="text" class="validate">
                  <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <input ng-model="password" id="password" type="password" class="validate">
                  <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <input ng-model="description" id="description" type="text" class="validate">
                  <label for="description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                  <input ng-model="mail" id="mail" type="email" class="validate">
                  <label for="mail">Mail</label>
                </div>
                <div class="input-field col s6">
                  <input ng-model="avatar" id="avatar" type="email" class="validate">
                  <label for="avatar">Avatar</label>
                </div>
            </div>

            <a href="index.html" class="waves-effect waves-light btn red lighten-2 ">Cancel</a>
            <a ng-click="signin()" class="waves-effect waves-light btn indigo lighten-2 right">Login</a>

        </div>








      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>

      <script src="jslib/toastr.js"></script>
      <link type="text/css" rel="stylesheet" href="jslib/toastr.css"/>

      <script src="controllers.js"></script>


    </body>
  </html>
